In [1]:
import warnings
import graphviz
import re
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.tools.eval_measures import rmse
from statsmodels.stats.outliers_influence import variance_inflation_factor # 다중공선성 패키지 불러오기
from sklearn.linear_model import LinearRegression # sklearn 선형회귀 모형 -> 변수 선택법을 위함
from sklearn.feature_selection import RFE # 변수 선택법 (후진 제거법)
from sklearn.preprocessing import scale # 데이터 scale
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import make_scorer, accuracy_score, fbeta_score
# Import ML Classification algos
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
warnings.filterwarnings('ignore')
%matplotlib inline
matplotlib.rc('font', family='NanumBarunGothic')
plt.rcParams['axes.unicode_minus']=False
ds_asso = pd.read_csv("./Data/상품구매.csv", engine='python')
ds_asso.head()

     ID    PRODUCT
0  C-11   BAGUETTE
1  C-11    HERRING
2  C-11    AVOCADO
3  C-11  ARTICHOKE
4  C-11   HEINEKEN

In [3]:
ID = list(set(ds_asso["ID"])
print(ID)
ID.sort()
          
list_association = []
for i in ID:
    tmp_list = list(ds_asso[ds_asso["ID"]==i]["PRODUCT"])
    tmp_list.sort()
    list_association.append(tmp_list)

# 리스트 출력
for row in list_association:
    print(row)

SyntaxError: invalid syntax (<ipython-input-3-997facfc6aaf>, line 2)